.gradle/
build/
out/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Gradle wrapper
!gradle/wrapper/gradle-wrapper.jar

# File compilati e log
*.class
*.log

# Sistema operativo
.DS_Store
Thumbs.db

# Salvataggio
savegame.json
saves/

# Draft locale Wiki
wiki-draft/
